
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', 'Roboto', sans-serif;
}

::-webkit-scrollbar {
        display: none;
}

.gold-radial-text {
    background: radial-gradient(circle at 60% 30%, #FDAF01 0%, #996901 30%, #BA8100 100%, #D79501 30%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}